body {
  background-color: #E52E63;
}

body .container {
  background-color: white;
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 1320px;
  height: 100%;
  padding: 0;
}

body .container header .h-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body .container header .h-1 img {
  margin: 20px;
  height: 3.25rem;
}

body .container header .h-1 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .container header .h-1 form .h-search {
  position: relative;
}

body .container header .h-1 form .h-search .search-input {
  border-radius: 10px;
  width: 22rem;
  background-color: white;
  padding: 4px 10px;
}

body .container header .h-1 form .h-search .search-button {
  position: absolute;
  top: 1px;
  right: 3px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: gray;
}

body .container header .h-1 .h-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

body .container header .h-1 .h-end .h-end2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  color: gray;
  padding: 0px 20px 0px 5px;
}

body .container header .h-1 .h-end .h-end2:hover {
  background-color: rgba(128, 128, 128, 0.176);
}

body .container header .h-1 .h-end .h-end2 img {
  width: 3.5rem;
  height: auto;
  border-radius: 40px;
  margin: 20px 10px 20px 10px;
}

body .container header .h-1 .h-end .hsvg {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .container header .h-1 .h-end .hsvg:hover {
  background-color: rgba(128, 128, 128, 0.176);
}

body .container header .h-1 .h-end .hsvg svg {
  width: 50px;
  height: 25px;
  color: gray;
  margin-right: 10px;
  margin-left: 10px;
}

body .container header .h-2 {
  position: relative;
  width: 100%;
  display: none;
}

body .container header .h-2 .search-input {
  border-radius: 10px;
  width: 100%;
  background-color: white;
  padding: 4px 10px;
}

body .container header .h-2 .search-button {
  position: absolute;
  top: 1px;
  right: 3px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: gray;
}

body .container main {
  display: flex;
  height: 100%;
  flex-direction: row;
}

body .container main .m-1 {
  width: 20%;
  background-color: #333333;
  margin: 0 !important;
}

body .container main .m-1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 10px;
  color: white;
  transition: 0.3s;
}

body .container main .m-1 div img {
  width: 50px;
  height: auto;
}

body .container main .m-1 div:hover {
  background-color: #E52E63;
}

body .container main .m-1 div p {
  margin: 5px 20px;
}

body .container main .m-1 div svg {
  width: 50px;
  height: auto;
}

body .container main .m-1 div i {
  font-size: 40px;
}

body .container main .m-2 {
  height: 100%;
  width: 80%;
  margin: 0 !important;
}

body .container main .m-2 header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

body .container main .m-2 header ul li img {
  width: 100%;
}

body .container main .m-2 header .mh-1 ul {
  display: flex;
  justify-content: space-between;
}

body .container main .m-2 header .mh-1 ul li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

body .container main .m-2 header .mh-1 ul li svg {
  color: #E52E63;
}

body .container main .m-2 header .mh-1 ul li p:nth-child(1) {
  text-transform: uppercase;
  margin: 0 20px;
  color: #777777;
  font-size: 1.5rem;
}

body .container main .m-2 header .mh-1 ul li p:nth-child(2) {
  color: #E52E63;
  text-decoration: underline;
  margin: 0px 10px;
  font-size: 0.8rem;
}

body .container main .m-2 header .mh-1 ul li div {
  background-color: #E52E63;
  color: white;
  height: 100%;
  padding: 10px;
}

body .container main .m-2 header .mh-1 ul li div h6 {
  font-size: 0.6rem;
}

body .container main .m-2 main {
  background-color: #FAF9F9;
}

body .container main .m-2 main .mm-1 {
  color: gray;
  background-color: white;
  width: 50%;
  text-align: left;
  padding: 20px;
  margin: 50px;
  border: 0.5px solid gray;
  border-radius: 20px;
}

body .container main .m-2 main .mm-1 .mm-11 {
  display: flex;
}

body .container main .m-2 main .mm-1 .mm-12 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body .container main .m-2 main .mm-1 .mm-12 h6 {
  font-size: 0.9rem;
}

body .container main .m-2 main .mm-1 .mm-12 .mm-121 {
  position: relative;
  display: flex;
  width: 8rem;
  height: 4rem;
}

body .container main .m-2 main .mm-1 .mm-12 .mm-121 img {
  position: absolute;
  height: 3rem;
  width: auto;
  border: 3px solid white;
  border-radius: 50%;
}

body .container main .m-2 main .mm-2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 500px;
  margin: 50px;
}

body .container main .m-2 main .mm-2 .mm-21 {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 20px;
}

body .container main .m-2 main .mm-2 .mm-21:nth-child(1) {
  margin: 0px 0px 20px;
}

body .container main .m-2 main .mm-2 .mm-21:nth-child(2) {
  margin: 0px 0px 20px;
}

body .container main .m-2 main .mm-2 .mm-21 p {
  color: gray;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 .mm-2111 {
  display: flex;
  align-items: center;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 .mm-2111 img {
  width: 4rem;
  height: 4rem;
  border-radius: 40px;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 .mm-2111 .mm-2112 {
  align-items: center;
  margin-left: 20px;
  color: gray;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 .mm-2111 .mm-2112 h5 {
  font-size: 1rem;
  font-weight: bold;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 .mm-2111 .mm-2112 h6 {
  font-size: 0.8rem;
}

body .container main .m-2 main .mm-2 .mm-21 .mm-211 h3 {
  color: #E52E63;
}

body .container main .m-2 main .mm-2 .mm-22 {
  height: 100px;
}

body .container main .m-2 main .mm-2 .mm-22 p {
  text-align: center;
  color: #E52E63;
  text-decoration: underline;
  margin-bottom: 0px;
  transition: font-size 0.4s;
}

body .container main .m-2 main .mm-2 .mm-22 p:hover {
  font-size: 1.1rem;
  color: black;
  cursor: pointer;
}

body .container main .m-2 footer {
  text-align: center;
  padding: 50px;
  height: 100%;
}

body .container main .m-2 footer div {
  height: 130px;
}

body .container main .m-2 footer div p {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: gray;
}

body .container main .m-2 footer div button {
  width: 200px;
  height: 50px;
  background-color: #E52E63;
  border-radius: 50px;
  transition: width 0.2s, height 0.2s;
}

body .container main .m-2 footer div button:hover {
  width: 250px;
  height: 60px;
}

body .container main .m-2 footer div button .vis {
  color: white;
}

@media (max-width: 991.98px) {
  body .container main .m-2 main {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .container main .m-2 main .mm-1 {
    width: 85%;
  }
  body .container main .m-2 main .mm-2 {
    width: 85%;
    height: 50%;
    margin-bottom: 0px;
  }
  body .container main .m-2 main .mm-2 .mm-21 {
    height: 30%;
  }
}

@media (max-width: 767.98px) {
  body .container {
    max-width: 100%;
    margin: 0;
  }
  body .container header .h-1 form .h-search .search-input {
    width: 15rem;
  }
  body .container header .h-1 .h-end .h-end2 {
    padding-right: 10px;
  }
  body .container main {
    flex-direction: column;
  }
  body .container main .m-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  body .container main .m-1 div {
    flex-direction: column;
    text-align: center;
    width: 25%;
  }
  body .container main .m-1 div i {
    font-size: 50px;
  }
  body .container main .m-2 {
    width: 100%;
  }
  body .container main .m-2 header .mh-1 ul {
    flex-direction: column;
    padding: 20px 0px;
  }
  body .container main .m-2 header .mh-1 ul li div {
    border-radius: 50px;
    width: 105px;
    height: auto !important;
    padding: 20px !important;
  }
}

@media (max-width: 578.98px) {
  body .container {
    max-width: 100%;
  }
  body .container header .h-1 {
    justify-content: space-between;
  }
  body .container header .h-1 form .h-search {
    display: none;
  }
  body .container header .h-1 form .h-search .search-input {
    width: 15rem;
  }
  body .container header .h-2 {
    display: flex;
  }
  body .container header .h-2 .search-input {
    margin: 10px;
  }
  body .container header .h-2 .search-button {
    top: 8px;
    right: 8px;
  }
  body .container main .m-2 main .mm-1 {
    width: 80%;
  }
  body .container main .m-2 main .mm-1 .mm-11 {
    flex-direction: column;
  }
  body .container main .m-2 main .mm-1 .mm-12 {
    flex-direction: column;
  }
  body .container main .m-2 main .mm-2 {
    width: 80%;
  }
  body .container main .m-2 footer div {
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */